[submodule "keycloak-login.gov-integration"]
	path = keycloak-login.gov-integration
	url = git@github.com:GSA-TTS/keycloak-login.gov-integration
[submodule "extensions/keycloak-api-key-demo"]
	path = extensions/keycloak-api-key-demo
	url = git@github.com:GSA-TTS/keycloak-api-key-demo.git
